In [1]:
import pandas as pd

In [11]:
!pip install  pyodbc

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyodbc in c:\programdata\anaconda3\lib\site-packages (4.0.34)

In [12]:
from dotenv import dotenv_values #import the dotenv_values function from the dotenv package
import pandas as pd
import warnings
import pyodbc
warnings.filterwarnings('ignore')

In [7]:
environment_variables = dotenv_values('.env')
# Get the values for the credentials you set in the '.env' file
database = environment_variables.get("DATABASE")
server = environment_variables.get("SERVER")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [18]:
connection = pyodbc.connect(connection_string)
db_query ='''SELECT *
FROM INFORMATION_SCHEMA.TABLES
WHERE TABLE_TYPE = 'BASE TABLE' '''

In [20]:
ata = pd.read_sql(db_query, connection)
ata

  TABLE_CATALOG TABLE_SCHEMA               TABLE_NAME  TABLE_TYPE
0         dapDB          dbo  LP1_startup_funding2021  BASE TABLE
1         dapDB          dbo  LP1_startup_funding2020  BASE TABLE

In [22]:

query = "Select * from dbo.LP1_startup_funding2021"

ata = pd.read_sql(query, connection)
ata

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed
...,...,...,...,...,...,...,...,...,...
1204,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-series A
1205,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,$20000000,Series D
1206,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C
1207,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",$26000000,Series B
1208,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",$8000000,Series A

In [23]:
query1 = "Select * from dbo.LP1_startup_funding2020"

ata = pd.read_sql(query1, connection)
ata

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None
...,...,...,...,...,...,...,...,...,...,...
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1500000.0,None,None
1051,EpiFi,NaN,None,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",13200000.0,Seed Round,None
1052,Purplle,2012.0,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8000000.0,None,None
1053,Shuttl,2015.0,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8043000.0,Series C,None
1054,Pando,2017.0,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9000000.0,Series A,None

## `Business Understanding`

This dataset provides insights into data engineer salaries and employment attributes for the year 2024. It includes information such as salary, job title, experience level, employment type, employee residence, remote work ratio, company location, and company size.

The dataset allows for analysis of salary trends, employment patterns, and geographic variations in data engineering roles. It can be used by researchers, analysts, and organizations to understand the evolving landscape of data engineering employment and compensation.

##### **Null Hypothesis (H0):** There are no significant differences in salaries among the groups (levels) of the factor being tested.


##### **Alternative Hypothesis (H1):** There are significant differences in salaries among the groups (levels) of the factor being tested.

## `Data Understanding`
Feature Description:
##### **work_year:** The year in which the data was collected (2024).


##### **experience_level:** The experience level of the employee, categorized as SE (Senior Engineer), MI (Mid-Level Engineer), or EL (Entry-Level Engineer).


##### **employment_type:** The type of employment, such as full-time (FT), part-time (PT), contract (C), or freelance (F).


##### **job_title:** The title or role of the employee within the company, for example, AI Engineer.

##### **salary:** The salary of the employee in the local currency (e.g., 202,730 USD).


##### **salary_currency:** The currency in which the salary is denominated (e.g., USD).


##### **salary_in_usd:** The salary converted to US dollars for standardization purposes.

##### **employee_residence:** The country of residence of the employee.


##### **remote_ratio:** The ratio indicating the extent of remote work allowed in the position (0 for no remote work, 1 for fully remote).


##### **company_location:** The location of the company where the employee is employed.

##### **company_size:** The size of the company, often categorized by the number of employees (S for small, M for medium, L for large).

##### **Analytical Questions**

1. How is salary spread? What's the mean, standard deviation, and median?

2. Can a salary trend be observed amongst data science roles?
3. In which country do data specialists earn the highest?
4. Which job title is paid the most?
5. How does experience affect the salary?

# Loading the data

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rcParams

In [ ]:
df = pd.read_csv('salaries.csv')

In [ ]:
df.head()

# Exploring the data

### Data cleaning

In [ ]:
# Is the data clean?
print(df.isna().sum(),"\n----------------------------------------------") # Are there any missing values?
print(df.duplicated().sum()," Duplicates\n----------------------------------------------") # Are there any duplicaetes?
df.info() # Is data type for each column valid?

df.describe

In [ ]:
df.describe().T

In [ ]:
df.shape

In [ ]:
df.nunique()

In [ ]:
# drop salary and salary_currency not nessessary 
df.drop(['salary','salary_currency'], axis=1, inplace=True)

In [ ]:
# Optimizing the data
df[['experience_level','employment_type','job_title','employee_residence','company_size']] = df[['experience_level','employment_type','job_title','employee_residence','company_size']].astype('category')

In [ ]:
# Taking closer look at the duplicates
df[df.duplicated(keep=False)].sort_values(by='salary_in_usd').head(25)

# It might be that a company hires multiple people for a position.
# Hence, I will assume that the duplicates are an expected occurrence.
# However, to get more precise image of the salaries I'm going to exclude the duplicates
# to obtain salary per position per company.
df.drop_duplicates(inplace=True)

In [ ]:
# Locations of companies
df['company_location'].unique()

In [ ]:
df['job_title'].unique()

# There are over 155 job titles! Let's limit the research to the top 10 most frequent job titles.

In [ ]:
top_10_titles = df['job_title'].value_counts().iloc[:10]
top_10_titles

In [ ]:
top_10_data = df.loc[df.job_title.isin(top_10_titles.index)]
top_10_data.job_title.unique()
# Now I've got a dataframe with with the top 10 most frequent job titles

In [ ]:
top_10_data.info()

In [ ]:
# hypothesis: salary

import statsmodels.api as sm
from statsmodels.formula.api import ols

# Define threshold
threshold = 0.05

# Perform ANOVA for each factor
factors = ['experience_level', 'employment_type', 'remote_ratio', 'company_size']
p_values = {}

for factor in factors:
    # Fit ANOVA model
    model = ols('salary_in_usd ~ {}'.format(factor), data=df).fit()
    anova_table = sm.stats.anova_lm(model, typ=2)
    
    # Extract p-value
    p_value = anova_table['PR(>F)'][0]
    
    # Convert p-value to decimal
    p_value_decimal = round(float(p_value), 2)
    print(p_value_decimal)
    
    # Store p-value
    p_values[factor] = p_value_decimal

# Compare p-values against threshold
significant_factors = [factor for factor, p_value in p_values.items() if p_value < threshold]

print("Significant factors with p-values below {}: {}".format(threshold, significant_factors))